$color-primary:#ff9c32;
$color-secondary:#f8dd46;
$color-white:#fff;

$color-blue-1:#7D54C7;
$color-blue-2:#411294;
$color-blue-3:#8297FA;
$color-blue-dark:#56493f;

$color-gray-light:#b9b9b9;
$color-gray-dark:#474747;

